.sidenav-container
{
  height: 100%;
}

mat-toolbar
{
  background: #673ab7;
  color: white;
}

mat-expansion-panel-header
{
  background: #f5f5f5;
}

button
{
  margin: 10px;
}

mat-list-item
{
  padding-left: 20px;
}